/* globals */
*,
*::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  padding: 1.5rem 0;
}
button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: center;
  width: 12rem;
  height: 3.25rem;
  border-radius: 1.875rem;
  border-style: none;
  border: none;
  font-size: 1rem;
  background: var(--softMagenta);
  color: whitesmoke;

  transition: all 150ms ease-in-out;
}
button:hover {
  background: whitesmoke;
  color: var(--violet);
  -webkit-box-shadow: 5px 3px 9px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 5px 3px 9px 0px rgba(0, 0, 0, 0.43);
}

/* helper classes */
.mg {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* everything else */

body {
  background: hsl(257, 40%, 49%);
  background-image: url("/images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: whitesmoke;
}

header {
  padding: 3.75rem 0;
}
.logo {
  object-fit: contain;
  height: 2.3125rem;
}

.main-contents {
  display: flex;
  justify-content: center;
}

.image-container {
  flex: 0.6;
  max-width: 860px;
}

.site-contents {
  flex: 0.4;
  margin-left: 3rem;
  max-width: 28rem;
  padding-top: 2rem;
  /* min-width: 20rem; */
}

.hero {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  display: flex;
  justify-content: end;
  margin-top: 10rem;
}
a:active,
a {
  text-decoration: none;
}
a {
  color: whitesmoke;
  border: solid 1px whitesmoke;
  padding: 1.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: var(--softMagenta);
  border-color: var(--softMagenta);
}
a:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 1176px) {
  body {
    background-image: url("/images/bg-mobile.svg");
  }
  .mg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  header {
    padding: 1.75rem 0;
  }
  .site-contents {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  p {
    text-align: center;
    font-size: 1rem;
  }
  button {
    align-self: center;
  }
  footer {
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem 0;
  }
  .main-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
